.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50% !important;

  svg {
    height: 1.5rem;
    width: 1.5rem;
    stroke: $theme-primary;
  }

  &:hover {
    background-color: $theme-primary;

    svg {
      stroke: $theme-button-font-color;
    }
  }
}

.back-button-absolute {
  position: absolute;
  top: -1em;
  left: 0;
}
