.error {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;

  color: $error;
  background-color: #ffe8e8;

  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: $semibold-weight;
  text-align: center;
}
