.info {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;

  color: $primary;
  background-color: #e8fcff;

  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: $semibold-weight;
  text-align: center;
}
