/*
 * This file contains necessary overwrites in @clerk/shared components
 * in order to use them in Clerk JS Authentication components, namely
 * <SignIn/>, <SignUp/>, <UserButton/>, <UserProfile/>.
 *
 * After migrating fully to @clerk/shared components some of these styles
 * will be consolidated with the original shared component styles.
 */

@import 'injections';

.otp-input {
  button {
    padding-top: 0;
    padding-bottom: 0;
  }
}

button {
  &:hover {
    filter: none;
  }
}
