.sing-in-account-switcher {
  .auth-form-header {
    padding-top: 2rem;
  }

  p {
    text-align: center;
    color: $themed-font-color-l1;
    margin-bottom: 2rem;
  }

  .active-accounts-manager {
    margin: 0 -2rem;

    @include media(upto small) {
      margin: 0 -1.5rem;
    }
  }
}
