@import '../../../../shared/components/styles/variables';
@import '../../../../shared/components/styles/mixins';

// postcss is responsible for adding a cl- prefix to all declarations
// Look at the webpack config for how that happens

$cl-box-shadow-lg: 0px 10px 20px rgba(60, 60, 60, 0.1);
$cl-black: #000000;
$cl-gray: #4e4e4e;
$cl-gray-light-1: #eeeeee;
$cl-gray-light-2: #828282;
$cl-gray-light-3: $themed-font-color-l1;
$cl-gray-light-4: #757575;
$cl-red: rgba(205, 68, 74, 1);
$cl-red-O10: rgba(205, 68, 74, 0.1);

// Scope everything to cl-mount-node
.component {
  @import '../../../../shared/components/styles/variables';
  @import '../../../../shared/components/styles/breakpoints';
  @import '../../../../shared/components/styles/themed_mixins';
  @import '../../../../shared/components/styles/mixins';

  @import 'injections';
  @import 'custom_reboot';
  @import 'sharedComponentsOverwrites';
  @import 'shared/fonts';
  @import 'shared/logo';
  @import 'shared/poweredByClerk';
  @import 'theme';
  @import 'authForms';
  @import 'backButton';
  @import 'error';
  @import 'info';
  @import 'userprofile';
  @import 'userbutton';
  @import 'backButton';
  @import 'activeAccountsManager';
  @import 'signInAccountSwitcher';
  @import 'verifyMagicLink';

  font-family: $theme-font-family;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :focus:not(:focus-visible) {
    outline: none !important;
  }

  :focus-visible {
    @include outline();
  }

  fieldset {
    border: none;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: $high-z-index;
}

.modal-container {
  padding: 0.5rem;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  z-index: $high-z-index;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .sign-in,
  .sign-up {
    margin: 0;
  }
}
