---
'@clerk/shared': patch
---

Modify the polling interval for SSO domain verification on development instances.