<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script data-clerk-publishable-key="<%= publishableKey %>" data-clerk-domain="<%= domain %>" onLoad= "startClerk()" crossorigin="anonymous" async="" src="https://clerk.clerk.com/npm/@clerk/clerk-js@4/dist/clerk.browser.js"></script>
  </head>
  <body>
    <script>
        window.startClerk = async () => {
          await Clerk.load({
            isSatellite: "<%= isSatellite %>" === "true",
            signInUrl: "<%= signInUrl %>",
          });
          Clerk.openSignIn();
        }
    </script>
  </body>
</html>
