---
import type { SignOutOptions } from "@clerk/types";
interface Props extends SignOutOptions {
  signOutUrl?: string;
}
---

<button data-sign-out-button>Sign out!</button>

<script is:inline define:vars={{ props: Astro.props }}>
  SIGN_OUT_BUTTON_PROPS = props;
</script>

<script>
  import { $clerkStore } from "@clerk/astro/client";

  const button = document.querySelector(
    "[data-sign-out-button]",
  ) as HTMLElement;

  button?.addEventListener("click", (e) => {
    e.preventDefault();

    $clerkStore.get()?.signOut(
      //@ts-ignore
      SIGN_OUT_BUTTON_PROPS,
    );

    // @ts-ignore
    if (SIGN_OUT_BUTTON_PROPS.signOutUrl)
      window.location.replace(
        // @ts-ignore
        SIGN_OUT_BUTTON_PROPS.signOutUrl,
      );
  });
</script>
