**/coverage/**
**/node_modules/**
packages/*/dist/**
packages/eslint-config-custom/**
**/dist/*
**/build/*
playground
packages/*/examples
.github
.idea
.vscode
.turbo
.next
.cache
.yalc
package-lock.json
