**/coverage/**
**/node_modules/**
packages/*/dist/**
packages/eslint-config-custom/**
**/dist/*
**/build/*
**/.turbo/*
playground
packages/*/examples
.idea
.vscode
.turbo
.next
.cache
.yalc
package-lock.json
**/integration/templates/**/*
commitlint.config.ts
vitest.workspace.mjs
typedoc.config.mjs
