{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-packagejson", "prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
