.cache
.changeset
.idea
.next
.temp_integration
.tsup
.turbo
.vscode
/**/scripts/info.js
*.map
*.min.js
*.bundle.js
build
coverage
dist
/packages/nextjs/examples
node_modules
package-lock.json
pnpm-lock.yaml
playground
packages/backend/tests/**/*.js
packages/clerk-js/src/core/resources/internal.ts
packages/clerk-js/src/core/resources/index.ts
/**/CHANGELOG.md
renovate.json5
