.cache
.changeset
.github
.idea
.next
.temp_integration
.tsup
.turbo
.vscode
.yalc
/**/scripts/info.js
build
coverage
coverage
dist
/packages/nextjs/examples
/packages/sdk-node/examples
node_modules
package-lock.json
pnpm-lock.yaml
playground
packages/backend/tests/**/*.js
/**/CHANGELOG.md
renovate.json5
