---
import { Show, UserButton, SignInButton } from '@clerk/astro/components';
import { OrganizationSwitcher } from '@clerk/astro/react';
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout title='Home'>
  <Show when='signedOut'>
    <h1>Signed out</h1>
    <SignInButton
      mode='modal'
      fallbackRedirectUrl='/'
    />
  </Show>
  <Show when='signedIn'>
    <h1>Signed in</h1>
    <UserButton />
    <OrganizationSwitcher client:only='react' />
  </Show>
</Layout>
