---
import { Show } from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro';

export const prerender = false;
---

<Layout title='Protected'>
  <Show
    when={{ role: 'basic_member' }}
    isStatic={false}
  >
    <h1>I'm a member</h1>
    <h1 slot='fallback'>Not a member</h1>
  </Show>
</Layout>
