---
import { Show, UserButton, SignInButton } from '@clerk/astro/components';
import { OrganizationSwitcher } from '@clerk/astro/react';
import Layout from '../layouts/Layout.astro';

export const prerender = false;
---

<Layout title='Home'>
  <Show
    when='signed-out'
    isStatic={false}
  >
    <h1>Signed out</h1>
    <SignInButton
      mode='modal'
      fallbackRedirectUrl='/'
    />
  </Show>
  <Show
    when='signed-in'
    isStatic={false}
  >
    <h1>Signed in</h1>
    <UserButton />
    <OrganizationSwitcher client:load />
  </Show>
</Layout>
