:root {
  --clerk-color-background: var(--card);
  --clerk-color-danger: var(--destructive);
  --clerk-color-foreground: var(--card-foreground);
  --clerk-color-input: var(--input);
  --clerk-color-input-foreground: var(--card-foreground);
  --clerk-color-modal-backdrop: var(--color-black);
  --clerk-color-muted: var(--muted);
  --clerk-color-muted-foreground: var(--muted-foreground);
  --clerk-color-neutral: var(--foreground);
  --clerk-color-primary: var(--primary);
  --clerk-color-primary-foreground: var(--primary-foreground);
  --clerk-color-ring: var(--ring);
  --clerk-font-weight-normal: var(--font-weight-normal);
  --clerk-font-weight-medium: var(--font-weight-medium);
  --clerk-font-weight-semibold: var(--font-weight-semibold);
  --clerk-font-weight-bold: var(--font-weight-semibold);
}

.cl-input {
  background-color: transparent;

  @variant dark {
    background-color: --alpha(var(--clerk-color-input) / 30%);
  }
}

.cl-cardBox,
.cl-popoverBox {
  box-shadow: var(--shadow-sm);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border);
}

.cl-button[data-variant='solid']::after {
  display: none;
}

.cl-providerIcon__apple,
.cl-providerIcon__github,
.cl-providerIcon__okx_wallet {
  @variant dark {
    filter: invert(1);
  }
}
