---
import { Protect } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Protected">
    <Protect role="admin">
        <Fragment slot="fallback">
            <h1>Not an admin</h1>
        </Fragment>
        <h1>I'm an admin</h1>
    </Protect>
</Layout>
