---
import { Protect } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Protected">
  <div>
    <Protect client>Protected</Protect>
  </div>
</Layout>
