@keyframes cl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cl-blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

:where(:root) {
  --cl-font-family: inherit;
  --cl-color-danger: 0 84% 60%;
  --cl-color-success: 142 71% 45%;
  --cl-color-warning: 25 95% 53%;
  --cl-radius: 0.375rem;
  --cl-spacing-unit: 1rem;
  --cl-font-size: 0.8125rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --cl-content: '';
}
