:where(:root) {
  --cl-font-family: inherit;
  --cl-color-destructive: 0 84% 60%;
  --cl-scaling-unit: 2;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::before,
::after {
  --cl-content: '';
}
