---
import { SignUp } from "@clerk/astro/components/interactive";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-full flex justify-center">
    <SignUp path="/sign-up" />
  </div>
</Layout>
