@use "sass:list";

// displayConfig.theme to sass mapping
$themed-padding-mod: var(--clerk-padding-mod, 1);

// mixins
@function themed-padding($vals) {
  $res: ();
  @each $val in $vals {
    $res: list.append($res, calc(#{$themed-padding-mod} * #{$val}));
  }
  @return $res;
}
