@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro&display=swap');

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0c042a;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 24px;
}

pre {
  background-image: radial-gradient(at 50% 100%, rgba(91, 197, 239, 0.1) 0%, rgba(255, 255, 255, 0) 80%, rgba(91, 197, 239, 0) 80%);
  background: linear-gradient(0deg, rgba(28, 15, 77, 0.12) -52.71%, rgba(28, 15, 77, 0) 85%),rgba(10, 12, 61, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0px 42px 56px rgba(5, 1, 54, 0.42),0px 17.5466px 23.3955px rgba(5, 1, 54, 0.301919),0px 9.38125px 12.5083px rgba(5, 1, 54, 0.250365),0px 5.25905px 7.01207px rgba(5, 1, 54, 0.21),0px 2.79304px 3.72406px rgba(5, 1, 54, 0.169635),0px 1.16225px 1.54966px rgba(5, 1, 54, 0.118081);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: auto;
  max-width: 100%;
  min-height: 100px;
  padding: 1.5rem;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  user-select: all;
}

a {
  color: #61dafb;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -1.12px;
  margin: 2vh 0 0;
  margin-bottom: 5vh;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1.12px;
  margin: 0;
}

header {
  align-items: center;
  border-bottom: 1px solid #3d3b3b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
  padding-bottom: 5vh;
}

main {
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: left;
}

.cl-rootBox {
  margin: auto;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-inline: auto;
  min-height: 100vh;
  text-align: center;
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

button, a.button {
  align-items: center;
  appearance: none;
  background: #FFFFFF;
  border: 0 solid #d8dde8;
  border-width: 0;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #D8DDE8;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(57, 67, 86, 0.08);
  color: #6C47FF;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  height: 3rem;
  justify-content: center;
  line-height: 1.2;
  margin: 0;
  min-width: 2.5rem;
  min-height: 48px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  overflow: visible;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 225px;
  word-wrap: break-word;
  z-index: 100;
}

a.invert {
  background: #6C47FF;
  color: #FFFFFF;
}
