@import '../styles/variables';
@import '../styles/mixins';

.menu {
  min-width: 220px;

  list-style: none;
  margin: 0 !important;
  padding: 0;

  color: $themed-font-color-l1;
}

.menuItem {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;

  &:hover {
    background-color: $gray05;
  }
}

.destructiveAction {
  color: $error;

  &:hover {
    background-color: $error05;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
}
