---
import { UserProfile } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Custom Pages">
  <div class="w-full flex justify-center">
    <UserProfile path="/custom-pages">
        <UserProfile.Page label="Terms" url="terms">
            <div slot="label-icon">Icon</div>
            <div>
                <h1>Custom Terms Page</h1>
                <p>This is the custom terms page</p>
            </div>
        </UserProfile.Page>
        <UserProfile.Link label="Homepage" url="/">
            <div slot="label-icon">Icon</div>
        </UserProfile.Link>
        <UserProfile.Page label="security" />
    </UserProfile>
  </div>
</Layout>
