---
import { PricingTable } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pricing Table">
  <div class="w-full flex justify-center">
    <PricingTable />
  </div>
</Layout>
