---
import { Show, PricingTable } from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro';

const newSubscriptionRedirectUrl = Astro.url.searchParams.get('newSubscriptionRedirectUrl');
---

<Layout title='Pricing Table'>
  <div class='w-full flex justify-center'>
    <Show when={{ plan: 'free_user' }}>
      <p>user in free</p>
    </Show>
    <Show when={{ plan: 'pro' }}>
      <p>user in pro</p>
    </Show>
    <Show when={{ plan: 'plus' }}>
      <p>user in plus</p>
    </Show>
    <PricingTable newSubscriptionRedirectUrl={newSubscriptionRedirectUrl} />
  </div>
</Layout>
