---
import { Experimental_PricingTable } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-full flex justify-center">
    <Experimental_PricingTable />
  </div>
</Layout>
