---
import { Show, UserButton } from '@clerk/astro/components';
import Layout from '../../layouts/ViewTransitionsLayout.astro';
---

<Layout title='Sign in'>
  <div class='w-full flex justify-center'>
    <Show when='signedOut'>
      <a href='/transitions/sign-in'>Sign in</a>
    </Show>
    <Show when='signedIn'>
      <UserButton />
    </Show>
  </div>
</Layout>
