---
import { SignedIn, SignedOut, UserButton } from '@clerk/astro/components';
import Layout from '../../layouts/ViewTransitionsLayout.astro';
---

<Layout title='Sign in'>
  <div class='w-full flex justify-center'>
    <SignedOut>
      <a href='/transitions/sign-in'>Sign in</a>
    </SignedOut>
    <SignedIn>
      <UserButton />
    </SignedIn>
  </div>
</Layout>
