---
import { UserButton } from '@clerk/astro/components';
import Layout from '../../layouts/ViewTransitionsLayout.astro';
---

<Layout title='Transitions page 2'>
  <div class='w-full flex justify-center'>
    <a href='/transitions'>Back</a>
    <UserButton />
  </div>
</Layout>
