@import '../styles/variables';
@import '../styles/mixins';

.popover {
  margin: 0;
  padding: 0.5em 0;

  background: $white;

  border-radius: $themed-border-radius !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  list-style: none;
}

.button {
  background: none;
  border: 2px solid transparent;

  outline: 0;
  padding: 0;
  color: $themed-font-color-l1;

  &:hover,
  &[aria-expanded='true'] {
    color: $primary;
  }
}
