@import '../styles/variables';
@import '../styles/mixins';

$tabs-spacing: 2em;

.tabList {
  list-style: none;

  margin: 0;
  padding: $tabs-spacing 0px;

  > :last-child {
    padding: 0;
  }
}

.title {
  display: inline-block;
  padding: 0;
  padding-right: $tabs-spacing;
  cursor: pointer;

  &,
  a {
    color: $themed-font-color-l1;

    &:hover {
      color: $black;
    }
  }

  font-size: 1.25rem;
  font-weight: $semibold-weight;
  text-decoration: none !important;
}

.active {
  color: $black;

  &,
  a {
    color: $black;
  }
}
