$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;

$semibold-weight: 600;

.font-semibold {
  font-weight: $semibold-weight;
}
