# VerificationStatus

## Example Usage

```typescript
import { VerificationStatus } from "@clerk/backend-api-client/models/components";

let value: VerificationStatus = "expired";
```

## Values

```typescript
"unverified" | "verified" | "failed" | "expired"
```