<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      data-clerk-publishable-key="<%= publishableKey %>"
      onLoad="startClerk()"
      crossorigin="anonymous"
      async=""
      src="https://clerk.clerk.com/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
    ></script>
  </head>
  <body>
    <div id="app"></div>
    <div id="user-state"></div>

    <script>
      window.startClerk = async () => {
        await Clerk.load({ signInUrl: '<%= signInUrl %>' });
        const appEl = document.querySelector('#app');
        const controlStateEl = document.querySelector('#user-state');

        if (Clerk.user) {
          Clerk.mountUserButton(appEl);
          controlStateEl.innerHTML = 'SignedIn';
        } else {
          controlStateEl.innerHTML = 'SignedOut';
        }
      };
    </script>
  </body>
</html>
