<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      data-clerk-publishable-key="<%= publishableKey %>"
      onLoad="startClerk()"
      crossorigin="anonymous"
      async=""
      src="https://clerk.clerk.com/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
    ></script>
  </head>
  <body>
    <div id="app"></div>
    <div id="user-state"></div>

    <script>
      window.startClerk = async () => {
        await Clerk.load({ signInUrl: '<%= signInUrl %>' });

        if (Clerk.user) {
          const apiResponse = await fetch('/api/protected').then(res => res.text());

          const div = document.createElement('div');
          div.setAttribute('data-test-id', 'protected-api-response');
          div.innerText = apiResponse;
          document.body.appendChild(div);
        }
      };
    </script>
  </body>
</html>
