<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      data-clerk-publishable-key="<%= publishableKey %>"
      onLoad="startClerk()"
      crossorigin="anonymous"
      async=""
      src="https://clerk.clerk.com/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
    ></script>
  </head>
  <body>
    <div id="app"></div>
    <div id="user-state"></div>

    <script>
      window.startClerk = async () => {
        await Clerk.load({ signInUrl: '<%= signInUrl %>' });
        Clerk.mountSignUp(document.querySelector('#app'));
      };
    </script>
  </body>
</html>
