@import '../styles/variables';
@import '../styles/mixins';

$toggle-size: 24px;

@include disabled;

.container {
  cursor: pointer;
  line-height: $toggle-size;
}

.label {
  margin-right: 10px;
  color: $themed-font-color-l1;
  font-weight: $semibold-weight;
}

.toggle {
  position: relative;
  display: inline-block;
  width: $toggle-size * 2;
  height: $toggle-size;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 9px;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: $gray10;
  transition: $transition-duration;
}

.slider:before {
  content: '';

  position: absolute;
  top: -4px;
  left: 0;

  height: $toggle-size;
  width: $toggle-size;

  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

  border-radius: 50%;
  border: 2px solid $white;

  transition: $transition-duration;

  background: $gray10;
}

input:checked {
  + .slider {
    background-color: rgba($themed-primary-rgb, 0.5);
  }

  + .slider::before {
    background-color: $themed-primary;
  }

  + .slider:before {
    transform: translateX($toggle-size);
  }
}
