{
  "with-email-codes": {
    "pk": "",
    "sk": ""
  },
  "with-email-links": {
    "pk": "",
    "sk": ""
  },
  "with-custom-roles": {
    "pk": "",
    "sk": ""
  },
  "core-2-all-enabled": {
    "pk": "",
    "sk": ""
  },
  "sessions-prod-1": {
    "pk": "",
    "sk": ""
  },
  "sessions-dev-1": {
    "pk": "",
    "sk": ""
  },
  "sessions-prod-2": {
    "pk": "",
    "sk": ""
  },
  "sessions-dev-2": {
    "pk": "",
    "sk": ""
  },
  "with-restricted-mode": {
    "pk": "",
    "sk": ""
  },
  "with-reverification": {
    "pk": "",
    "sk": ""
  },
  "with-legal-consent": {
    "pk": "",
    "sk": ""
  },
  "with-waitlist-mode": {
    "pk": "",
    "sk": ""
  },
 "with-session-tasks": {
    "pk": "",
    "sk": ""
  },
 "with-whatsapp-phone-code": {
    "pk": "",
    "sk": ""
  },
  "with-api-keys": {
    "pk": "",
    "sk": ""
  },
  "with-protect-service": {
    "pk": "",
    "sk": ""
  },
}
