---
import { Show, __experimental_CheckoutButton as CheckoutButton } from '@clerk/astro/components';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Checkout Button'>
  <main>
    <Show when='signed-in'>
      <CheckoutButton
        planId='cplan_2wMjqdlza0hTJc4HLCoBwAiExhF'
        planPeriod='month'
      >
        Checkout Now
      </CheckoutButton>
    </Show>
  </main>
</Layout>
