---
import { PlanDetailsButton } from '@clerk/astro/components';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Plan Details Button">
  <main>
    <PlanDetailsButton planId='cplan_2wMjqdlza0hTJc4HLCoBwAiExhF'>
      Plan details
    </PlanDetailsButton>
  </main>
</Layout>
