---
import { __experimental_SubscriptionDetailsButton as SubscriptionDetailsButton } from '@clerk/astro/components';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Subscription Details Button">
  <main>
    <SubscriptionDetailsButton>
      Subscription details
    </SubscriptionDetailsButton>
  </main>
</Layout>
