on:
  workflow_call:

jobs:
  check:
    runs-on: ${{ vars.RUNNER_NORMAL }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.sha}}
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
      - run: npx changeset status --since=origin/main
