# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Clerk Javascript CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.18, 18.12]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g npm@8.19.0
    - run: npm install --legacy-peer-deps
    - run: npm run build
    - run: npm run test

    env:
      # Bundlewatch
      BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
      CI_REPO_OWNER: clerkinc
      CI_REPO_NAME: javascript
      CI_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
      CI_BRANCH: ${{ github.ref	}}
      CI_BRANCH_BASE: refs/heads/develop
