name: Cleanup e2e instances
on:
  workflow_dispatch:
  schedule:
    # run every 6 hours on every weekday
    - cron: '0 */6 * * 1-5'

jobs:
  integration-tests:
    name: Cleanup e2e instances
    runs-on: ${{ vars.RUNNER_NORMAL || 'ubuntu-latest' }}
    timeout-minutes: ${{ vars.TIMEOUT_MINUTES_NORMAL && fromJSON(vars.TIMEOUT_MINUTES_NORMAL) || 10 }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false

      - name: Setup
        id: config
        uses: ./.github/actions/init
        with:
          turbo-signature: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
          turbo-team: ${{ vars.TURBO_TEAM }}
          turbo-token: ${{ secrets.TURBO_TOKEN }}
          playwright-enabled: true

      - name: Build packages
        run: pnpm turbo build $TURBO_ARGS --only

      - name: Publish to local registry
        run: pkglab pub --force

      - name: Restore package.json files after pkglab publish
        run: git checkout -- 'packages/*/package.json'

      - name: Disable frozen-lockfile for pkglab operations
        run: echo 'frozen-lockfile=false' >> .npmrc

      - name: Install @clerk/backend in /integration
        working-directory: ./integration
        run: pnpm init && pkglab add @clerk/backend

      - name: Run cleanup
        run: pnpm test:integration:cleanup
        env:
          INTEGRATION_INSTANCE_KEYS: ${{ secrets.INTEGRATION_INSTANCE_KEYS }}
