name: Labeler

on:
  - pull_request_target

jobs:
  triage:
    timeout-minutes: ${{ vars.TIMEOUT_MINUTES_SHORT }}
    permissions:
      contents: read
      pull-requests: write
    runs-on: ${{ vars.RUNNER_NORMAL }}
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.CLERK_COOKIE_PAT }}
