name: Labeler

on:
  - pull_request_target

jobs:
  triage:
    timeout-minutes: ${{ vars.TIMEOUT_MINUTES_SHORT && fromJSON(vars.TIMEOUT_MINUTES_SHORT) || 3 }}
    permissions:
      contents: read
      pull-requests: write
    runs-on: ${{ vars.RUNNER_NORMAL || 'ubuntu-latest' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          fetch-tags: false
          filter: "blob:none"
          show-progress: false
      - uses: actions/labeler@v6
