name: Labeler

on:
  - pull_request_target

jobs:
  triage:
    timeout-minutes: 3
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.CLERK_COOKIE_PAT }}
