name: Validate Renovate Config

on:
  pull_request:
    paths:
      - 'renovate.json5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-renovate-config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup
        id: config
        uses: ./.github/actions/init
        with:
          turbo-signature: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
          turbo-team: ${{ vars.TURBO_TEAM }}
          playwright-enabled: true # Must be present to enable caching on branched workflows
          turbo-token: ${{ secrets.TURBO_TOKEN }}

      - name: Validate Renovate Config
        env:
          RENOVATE_VERSION: 37.440.7 # Last version compatible with Node 18
          GITHUB_TOKEN: ${{ secrets.CLERK_COOKIE_PAT }}
        run: pnpm dlx renovate@${{ env.RENOVATE_VERSION }} renovate-config-validator
